.hidden {
    display: none;
    
}

#greeting{
    color: #bfcece;
}
#clock{
    font-size: 50pt;
    color: #ebefef;
}
#weather{
    float: right;
    color: white;
    font-size: 15pt;
    margin-top: 200px;
}
ul{
    list-style:none;
    }
input::placeholder {
    color: white;
    font-style: italic;
  }

#quote{
    color: #d4d4d4;
    font-size: 15pt;
}

input[type=submit]{
    border-radius: 6px;
    width: 80px;
    color: white;
    height: 30px;
    background-color: #607d8b;
    border: 0;
    font-weight: bold;
}

input[type=text]{
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #ffffff;
    height: 30px;
    font-size: 15pt;
    color: white;
}

#todo-list li {
    margin-bottom: 10px;
}
#todo-list span {    
    color: whitesmoke;
    background-color: tomato;
    border-radius: 5px;
    padding: 2px 5px 2px 5px;
    margin-right: 10px;
}

#todo-list button {
    
    border-radius: 5px;

}